<div class="header-wrapper">
    <div class="header-container">
        <div class="logo-section">
        <img [src]="logoUrl" alt="מתנת חיים" class="main-logo">
        </div>


        <div class="tabs-section">
            <p-tabs [value]="0">
                <p-tablist>
                    @for (tab of tabsSee(); track tab.value) {
                        <p-tab [value]="tab.value" (click)="onTabChange(tab.value)">
                            <span class="tab-text">{{ tab.title }}</span>
                        </p-tab>
                    }
                </p-tablist>
            </p-tabs>
        </div>


        <div class="empty-left"></div>
    </div>
</div>


