
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* אין גלילה בכלל */
}
app-root {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

