<div class="app-container">
  <app-header></app-header>

  <div class="main-layout" [class.no-cart]="!showCart()">
    
    @if (showCart()) {
      <aside class="side-cart">
        <app-cart></app-cart>
      </aside>
    }

    <div class="content-and-footer">
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </div>
  </div>

  @if (cartService.ticketModal()) {
    <app-ticket-limit-modal></app-ticket-limit-modal>
  }
</div>

