



<footer class="main-footer">
    <img src="images/main/footer.jpg" alt="footer wave" class="footer-wave">
   
    <div class="footer-bottom-content">
        <div class="footer-container">
           
            <div class="footer-col">
                <h3 class="footer-title">אודות</h3>
                <p class="footer-text">
                    ארגון מתנת חיים מעודד אנשים המעוניינים לתרום את כליתם לשם הצלת חיים,
                    כאשר התרומה היא אלטרואיסטית - התנדבותית בלבד. הארגון מושתת על בסיס
                    התנדבותי ללא כוונת רווח וטובת הנאה.
                </p>
            </div>


            <div class="footer-col">
                <h3 class="footer-title">תרומת כליה</h3>
                <ul class="footer-list">
                    <li>תרומת כליה</li>
                    <li>ההחלטה לתרום כליה</li>
                    <li>איך תורמים כליה?</li>
                    <li>אחרי התרומה</li>
                    <li>השלכות רפואיות</li>
                </ul>
            </div>


            <div class="footer-col">
                <h3 class="footer-title">תרמו לנו</h3>
                <p class="footer-text">
                    ארגון מתנת חיים הינו עמותה רשומה הפועלת ללא כוונת רווח וטובת הנאה.
                    כל שירות וסיוע הניתן על ידי העמותה ניתן חינם ללא בקשת תמורה.
                </p>
            </div>


        </div>
    </div>
</footer>
