<div class="add-gift-container">
  <div class="form-grid">
    <div class="form-group">
      <label>שם המתנה</label>
      <input type="text" name="name" [(ngModel)]="newGift.name">
    </div>

    <div class="form-group">
      <label>קטגוריה</label>
      <select name="categoryId" [(ngModel)]="newGift.categoryId" class="custom-select">
        <option [ngValue]="0" disabled>בחר קטגוריה...</option>
        <option *ngFor="let cat of categories" [ngValue]="cat.id">{{cat.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>כמות</label>
      <input type="number" name="amount" [(ngModel)]="newGift.amount" min="1" max="500">
    </div>

    <div class="form-group">
      <label>תורם</label>
      <select name="idDonor" [(ngModel)]="newGift.idDonor" class="custom-select">
        <option [ngValue]="0" disabled>בחר תורם...</option>
        <option *ngFor="let donor of donors" [ngValue]="donor.idDonor">
          {{ donor.firstName }} {{ donor.lastName }}
        </option>
      </select>
    </div>

    <div class="form-group full-width">
      <label>תיאור המתנה</label>
      <textarea name="description" [(ngModel)]="newGift.description" placeholder="ספרי על המתנה..."></textarea>
    </div>

    <div class="form-group full-width image-box">
      <div class="tabs">
        <button type="button" (click)="uploadMode='file'" [class.active]="uploadMode==='file'">העלאת קובץ</button>
        <button type="button" (click)="uploadMode='manual'" [class.active]="uploadMode==='manual'">טקסט חופשי</button>
      </div>
      
      <div class="content" *ngIf="uploadMode==='file'">
        <input type="file" (change)="onFileSelected($event)" id="fileInput">
        <label for="fileInput" class="upload-label">
          <img *ngIf="imagePreview" [src]="imagePreview" class="preview">
          <span *ngIf="!imagePreview">לחצי לבחירת תמונה</span>
        </label>
      </div>
      <input *ngIf="uploadMode==='manual'" type="text" name="image" [(ngModel)]="newGift.image" placeholder="שם קובץ/URL">
    </div>
  </div>

  <button class="btn-save" (click)="saveGift()" [disabled]="isSubmitting || isUploading">
    שמור מתנה 
  </button>
</div>